 <div class="container">
   <div class="row">
    <div align="center">
        <blockquote class="mainLines">
          <code> The page you are looking for is not available or may have been moved.</code>
        We actually don't want anyone to see this message, it feels very embarrassing.
        </blockquote>
    </div>
    <br/>
    </div>
 </div>

